<!-- /.panel -->
<div class="panel panel-default">
    <div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> Analytics herkomst
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div id="origin-donut-chart"></div>
    </div>
    <!-- /.panel-body -->
</div>
<script>
$(document).ready(function () {

    $.getJSON('/googleAnalytics/channelInfo/{{project_id}}', function(data) {

        // Build the chart
        $('#origin-donut-chart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Google analytics herkomst'
            },
            tooltip: {
                pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Channels',
                data: data
            }]
        });
    });

});
</script>