<!-- /.panel -->
<div class="panel panel-default">
    <div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> Summary
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <table data-toggle="table" 
               data-url="/googleAnalytics/summary/{{project_id}}"
               data-sort-name="value" data-sort-order="desc">
            <thead>            
                <tr>
                    <th data-field="name">Naam</th>
                    <th data-field="value">Waarde</th>            
                    <th data-field="average">Gemm</th>
                </tr>
             </thead>               
        </table>
    </div>
    <!-- /.panel-body -->
</div>