<!-- /.panel -->
<div class="panel panel-default">
    <div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> 
    {% if title %} {{ title }}
    {% else %} Niki verkoopstand
    {% endif %}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div id="niki-availability-donut-chart-{{title|slugify}}"></div>
    </div>
    <!-- /.panel-body -->
</div>
<script>
$(document).ready(function () {
    var action;
    {% if project_resource %}    
    action = '/niki/availability_by_resource?resource={{project_resource|urlencode}}'    
    {% else %}
    action = '/niki/availability/{{project_id}}';
    {% endif %}

    $.getJSON(action, function(data) {

        // Build the chart
        $('#niki-availability-donut-chart-{{title|slugify}}').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Verkoopstand {{title}}'
            },
            tooltip: {
                pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Channels',
                data: data
            }]
        });
    });

});
</script>