<!-- /.panel -->
<div class="panel panel-default">
    <div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> Webverkeer overzicht
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <table class="table">
            <tr><th>Statistiek</th><th>#</th></tr>
            <tr>
                <td>Direct verkeer</td><td>1423</td>
            </tr>
            <tr>
                <td>Pageviews</td><td>4521</td>
            </tr>
            <tr>
                <td>Sessies</td><td>1423</td>
            </tr>
            <tr>
                <td>Terugkerend bezoek</td><td>2341</td>
            </tr>
        </table>
    </div>
    <!-- /.panel-body -->
</div>