<div class="panel panel-default">
    <div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> Burgerlijke staat
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div id="burgelijke-staat-container" min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto></div>
    </div>
    <!-- /.panel-body -->
</div>
<div id="burgelijke-staat-container"></div>
<script>
$(function () {
    $('#burgelijke-staat-container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Burgelijke staat geinteresseerden'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: 'Burgerlijke staat',
            data: [
                ['Gehuwd',   45.0],
                ['Ongehuwd', 26.8],
                ['Samenwonend',10.2],
                ['Anders',   8.0]
            ]
        }]
    });
});
</script>