<!-- /.panel -->
<div class="panel panel-default">
    <div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> Conversies
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <table class="table">
            <tr><th>Doel</th><th>#</th></tr>
            <tr>
                <td>Direct bellen</td><td>3</td>
            </tr>
            <tr>
                <td>Direct mailen</td><td>5</td>
            </tr>
            <tr>
                <td>HomeDNA WP ingevuld</td><td>50</td>
            </tr>
            <tr>
                <td>Ingevuld belangstellingsformulier</td><td>1</td>
            </tr>
        </table>
    </div>
    <!-- /.panel-body -->
</div>