<!-- /.panel -->
<div class="panel panel-default">
    <div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> Paginabezoek overzicht
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <table class="table">
            <tr><th>Pagina</th><th>#</th></tr>
            <tr>
                <td>/</td><td>1423</td>
            </tr>
            <tr>
                <td>/koopwoningen/</td><td>425</td>
            </tr>
            <tr>
                <td>/contact/</td><td>21</td>
            </tr>
            <tr>
                <td>/nieuws/</td><td>12</td>
            </tr>
        </table>
    </div>
    <!-- /.panel-body -->
</div>