<div class="panel panel-default">
    <div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> Voorkeur prijsklasse
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div id="prijsklasse-container" min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto></div>
    </div>
    <!-- /.panel-body -->
</div>
<script>
$(function () {
    $('#prijsklasse-container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Voorkeur prijsklasse'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: 'Burgerlijke staat',
            data: [
                ['250.000 - 300.000',   23.0],
                ['300.000 - 350.000', 17],
                ['350.000 - 400.000',33],
                ['400.000 en hoger',   28.0]
            ]
        }]
    });
});
</script>