<!doctype HTML>
<html>
<head>
{% include "bootstrap.html" %}
</head>
<body>
    <div class="bs-docs-section">
        <div class="bs-callout bs-callout-info">
            <h4>Helper functies</h4>
            <p>
                <div class="list-group">
                  <a href="/niki/projects" class="list-group-item">Alle niki projecten</a>
                  <div class="input-group">
                    <span class="input-group-btn">
                    <button class="btn btn-default"  id="mc_lists" >Mailchimp lijsten</button>
                    </span>
                    <input type="text" id="apikey" class="form-control" placeholder="api token">
                  </div>
                  <a href="/fbtokens" class="list-group-item">Update facebook tokens fanpages</a>
                  <div class="list-group-item">{{ fbads_settings.access_token }}</div>
                </div>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="page-header">
              <h1>Adviezen <small>klik op 'overzicht' voor een preview van de mailing</small></h1>
            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Bestaande overzichten</div>
                <div class="panel-body">
                    <table class="table">
                        <tr><th>Project</th><th>Periode</th><th>Verstuurd?</th><th>Mailing</th><th>Mailing HTTP response<th>Dashboard</th></tr>
                        {% for summary in summaries %}
                        <tr>
                            <td>{{ summary.project.name }} ( {{ summary.project.manager }} )</td>
                            <td>{{ summary.dateStart }} - {{ summary.dateEnd }}</td>
                            <td>
                                {% if summary.mail_sent %}
                                    <button type="button" class="btn btn-success" value="verstuurd" >JA</button>
                                {% else %}
                                    <button type="button" class="btn btn-danger" value="verstuurd" >NEE</button>
                                {% endif %}
                            </td>
                            <td><a href='/digest/{{summary.id}}'>preview</a> | <a href="/digest/{{summary.id}}/mailing?test=yes">testmail</a>| <a href="/digest/{{summary.id}}/mailing">!!mail!!</a></td>
                            <td><button type="button" data-id="{{summary.id}}" class="testbutton btn btn-default" >HTTP test</button>
                            <td><a href='/dashboard/{{summary.project.id}}'>dashboard</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header">
              <h1>Projectoverzicht</h1>
            </div>
            <!--

            <div class="panel panel-default">
                <div class="panel-heading">Acties</div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for item in cyfeurls %}
                        <div class="list-group-item">{{ item }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
            -->
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Projecten</div>
              <div class="panel-body">
                  <!-- Table -->
                  <table class="table">
                    <tr><th>Naam</th><th>Test</th><th>Preview</th></tr>
                    {% for project in projects %}
                        <tr>
                            <td>{{project.name}}</td>
                            <td><button data-id="{{project.id}}" class="projecttest btn btn-default">test</td>
                            <td><a href="/digest/{{project.id}}/test">preview</a></td>
                        </tr>
                    {% endfor %}
                  </table>
              </div>
              <div class="panel-footer">
              </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Mailchimp lijsten</h4>
          </div>
          <div class="modal-body">
            <ul id="mc_lists_group" class="list-group">
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>



    <script>
        $(document).ready(function(){
            $('.testbutton').click(function(){
                $button = $(this);
                $.ajax({
                   type: 'GET',
                   url:'/digest/'+$button.data('id'),
                   success: function(data, textStatus, request){
                        $button.toggleClass('btn-default btn-succes');
                        $button.html(request.status)
                   },
                   error: function (request, textStatus, errorThrown) {
                        $button.toggleClass('btn-default btn-danger');
                        $button.html(request.status)
                   }
                });
            });
        });

        $(document).ready(function(){
            $('.projecttest').click(function(){
                $button = $(this);
                $.ajax({
                   type: 'GET',
                   url:'/digest/'+$button.data('id')+'/test',
                   success: function(data, textStatus, request){
                        $button.toggleClass('btn-default btn-succes');
                        $button.html(request.status)
                   },
                   error: function (request, textStatus, errorThrown) {
                        $button.toggleClass('btn-default btn-danger');
                        $button.html(request.status)
                   }
                });
            });
        });

        $(document).ready(function(){
          $('#mc_lists').click(function() {
            $.getJSON('/mailchimp/lists/?apikey='+$('#apikey').val(), function(data) {
                for(i = 0; i < data.data.length ; i++){
                    console.log(data.data[i].name + ' : ' + data.data[i].web_id);
                    $("#mc_lists_group").append("<li class='list-group-item'>"+data.data[i].name + ' : ' + data.data[i].id+"</li>");
                }

            });
            $('#myModal').modal()
          });
        });
    </script>
</body>
</html>