<!doctype HTML>
<html>
<head>
{% include "bootstrap.html" %}
{% load staticfiles  %}
<link rel="stylesheet" href="{% static 'css/styling.css'%}">
</head>
<body>
<div class="container">
    <div id="login">
      
      <form class="form-signin" name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ REDIRECT_FIELD_VALUE }}" />
        {% endif %}
        <!--<h2 class="form-signin-heading">BuzzArt login</h2>-->
        <img src="{% static 'img/login.jpg' %}" alt="Buzzart Login" />
        <div class="control-group">
            <label class="control-label sr-only" for="username">Gebruikersnaam</label>
            <div class="controls">
                <input type="text" id="username" class="form-control" name="username"  placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label sr-only" for="password">Wachtwoord</label>
            <div class="controls">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
        </div>
        </form>
    </div>
</div>
</body>
</html>