<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <title>Buzzart - Update voor project: {{project.name}} </title>
    <meta content="width=device-width, user-scalable=yes minimum-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>    
    <style type="text/css">
        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            height: 100%;
        }

        a {
            color: #4a1135;
            text-decoration: underline;
        }
    </style>    
</head>
<body style="margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 100%; background:#CCC">
<center>
    <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ccc">
        <tr>
            <td>
                <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ccc" align="center">
                    <tr>
                        <td align="center">
                            <table cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" width="600">
                                <tr>
                                    <td bgcolor="#FFFFFF" align="left" width="600">
                                        <table cellpadding="0" cellspacing="0" border="0" width="600">
                                            <tr>
                                                <td align="left" valign="top" width="40">&#160;</td>
                                                <td align="left" valign="top" width="520">
                                                    <table cellpadding="0" cellspacing="0" border="0" width="520">
                                                        <tr>
                                                            <td align="left" valign="top" width="520" height="16">
                                                                <p style="font-size: 16px; line-height:16px; margin-top: 0; margin-bottom:0;">&#160;</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="top" width="520" height="2" bgcolor="#e0dad9">
                                                                <p style="font-size: 2px; line-height:2px; margin-top: 0; margin-bottom:0;">&#160;</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="top" width="520" height="25">
                                                                <p style="font-size: 25px; line-height:25px; margin-top: 0; margin-bottom:0;">&#160;</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" valign="top" width="520" height="2">
                                                                <table cellspacing="0" cellpadding="0" border="0" width="520">
                                                                    <tr>
                                                                        <td align="center" width="280" valign="top" style="font-family:Tahoma, Geneva, sans-serif;
                                                                        font-size: 20px; line-height: 24px; color: #eb762d; font-weight:bold;">
                                                                            <i>Buzzart</i><br/>
                                                                            <span style="font-size: 30px; line-height: 50px; font-weight: normal;">Project Update</span>
                                                                        </td>
                                                                        <td width="240" align="left" valign="top" style="font-family:Tahoma,Geneva, sans-serif;
                                                                        font-size: 13px; line-height: 18px; color: #4c4545; font-weight:normal;">
                                                                            Datum: {{update.posted}}<br/>
                                                                            Projectnaam: {{project.name}}<br/>
                                                                            Projecteigenaar: {{project.manager}} <br/>
                                                                            Website: <a href="{{project.url}}">{{project.url}}</a><br/>
                                                                            E-mailadres: {{project.email}}
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="top" width="520" height="25">
                                                                <p style="font-size: 25px; line-height:25px; margin-top: 0; margin-bottom:0;">&#160;</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="top" width="520" height="5" bgcolor="#e0dad9">
                                                                <p style="font-size: 5px; line-height:5px; margin-top: 0; margin-bottom:0;">&#160;</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="top" width="520" height="45">
                                                                <p style="font-size: 45px; line-height:45px; margin-top: 0; margin-bottom:0;">&#160;</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="top" width="520" style="font-family:Tahoma,Geneva, sans-serif;
                                                                                                                            font-size: 15px; line-height: 22px; color: #4c4545; font-weight:normal;">
                                                                <span style="color: #eb762d; font-size: 17px;">Beste {{project.manager}}</span><br/>
                                                                <p style="margin-right: 5px;">
                                                                {{ update.update }}
                                                                </p>
                                                                <a href="{{ dashboard_url }}">Bezoek hier je dashboard</a> 
                                                                
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="top" width="520" height="25">
                                                                <p style="font-size: 25px; line-height:25px; margin-top: 0; margin-bottom:0;">&#160;</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="top" width="520" height="2" bgcolor="#e0dad9">
                                                                <p style="font-size: 2px; line-height:2px; margin-top: 0; margin-bottom:0;">&#160;</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" valign="top" width="520" style="font-family:Tahoma,Geneva, sans-serif;
                                                                                                                            font-size: 12px; line-height: 22px; color: #4c4545; font-weight:normal;">                                                                
                                                                <p style="margin-right: 5px;">
                                                                Dit is een Buzzart Update, je ontvangt deze mail omdat wij interessante ontwikkelingen zien in jouw campagne.
                                                                In je project-dashboard zie je deze gegevens terug en kun je zelf alle statistieken rondom je project in de gaten houden.
                                                                Bezoek je <a href="{{ dashboard_url }}">dashboard hier</a>                                                                 
                                                                </p>                                                                                                                                 
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</center>
</body>
</html>