<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <title>Buzzart - Update voor project: {{project.name}} </title>
    <meta content="width=device-width, user-scalable=yes minimum-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>    
    <style type="text/css">
        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            height: 100%;
        }

        a {
            color: #4a1135;
            text-decoration: underline;
        }
    </style>    
</head>
<body style="margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 100%; background:#CCC">
<center>
	<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ccc">
    	<tr>
        	<td>
            	<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ccc" align="center">
                    <tr>
                        <td align="center">
                            <table cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" width="600">
                                <tr>
                                	<td bgcolor="#FFFFFF" align="left" width="600">
                                        <table cellpadding="0" cellspacing="0" border="0" width="600">
                                        	<tr>
                                            	<td width="600"  >
                                                	<table cellpadding="0" cellspacing="0" border="0"  bgcolor="#ccc" width="600">
                                                    	<tr>
                                                    		<td width="600" align="center" valign="center" height="42" style="color: #4c4545; font-family:Tahoma,Geneva, sans-serif;
                                                                                                                            font-size: 11px;"">
                                                				Het BuzzArt-team heeft een nieuwe update voor je klaar staan
                                                            </td>
                                                    	</tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                            	<td>
                                            		<table cellpadding="0" cellspacing="0" border="0"  bgcolor="#fff" width="600">
                                                    	<tr>
                                                			<td width="560" align="left">
                                                    			{% load staticfiles %}
                                                				<img src="{% static 'buzzart_mailing_logo.jpg' %}" width="306" height="107"/>
                                                			</td>
                                                			<td width="294">&#160;</td>
                                               			 </tr>
                                                    </table>
                                                </td>
                                            </tr>  
                                            <tr>
                                            	<td width="600"  >
                                                	<table cellpadding="0" cellspacing="0" border="0"  bgcolor="#1fabb8" width="600">
                                                    	<tr>
                                                    		<td width="600" align="center" valign="center" height="18" style="color: #4c4545;">
                                                				&#160;
                                                            </td>
                                                    	</tr>
                                                    </table>
                                                </td>
                                            </tr> 
                                            <tr>
                                            	<td>
                                            		<table cellpadding="0" cellspacing="0" border="0"  bgcolor="#fff" width="600">
                                                    	<tr>
                                                			<td width="20">&#160;</td>
                                                            <td>
                                                            	<table cellpadding="0" cellspacing="0" border="0"  bgcolor="#fff" width="560">
                                                                    <tr>
                                                                        <td width="560">
                                                                        	<table>
                                                                            	<tr>
                                                                            		<td width="280" valign="top">
                                                                                        <p style="font-size: 24px; font-family:Tahoma,Geneva, sans-serif; margin-top: 30px; margin-bottom: 0px;" >
                                                                                            BuzzArt Update
                                                                                        </p>
                                                                                        <p style="font-size: 14px; font-family:Tahoma,Geneva, sans-serif; margin-top: 0px; margin-bottom: 30px;">
                                                                                            Datum: {{update.posted}}
                                                                                        </p>
                                                                                    </td>
                                                                                    <td width="280" valign="top">
                                                                                        <p style="font-size: 14px; font-family:Tahoma,Geneva, sans-serif; margin-top: 30px; margin-bottom: 30px;">
                                                                                            Projectnaam: {{project.name}}<br/>
                                                                                            Projecteigenaar: {{project.manager}}<br/>
                                                                                            Website: <a href="{{project.url}}">{{project.url}}</a>
                                                                                        </p>
                                                                        			</td>
                                                                            	</tr>        
                                                                        	</table>            
                                                                        <td width="20">&#160;</td>
                                                                     </tr>
                                                                     <tr>
                                                                     	<td width="100%">
                                                							<hr />
                                                            			</td>
                                                                     </tr>
                                                                     <tr>
                                                                     	<td width="560">
                                                							<p style="font-family:Tahoma,Geneva, sans-serif; font-size: 14px; margin-top: 30px; margin-bottom: 50px;">Beste {{project.manager}}<br/><br/>
                                                                            
                                                                			
                                                                            	Je ontvangt deze mail omdat wij interessante ontwikkelingen zien in jouw campagne.<br/>
                                                                                <br/>
                                                                				{{ update.update }}<br/>
                                                                                <br/>
                                                                                Bekijk ons advies en de statistieken nu in je dashboard. <a href="{{ dashboard_url }}" alt="Bezoek hier je dashboard">
                                                                                Bezoek hier je dashboard.</a><br/>
                                                                                <br/>
                                                                                Heb je vragen of opmerkingen?<br/>Bel ons gerust op 050 &#45; 360 04 56 of antwoord op deze BuzzArt mailing.<br/>
                                                                                <br/>
                                                                                Met vriendelijke groet,<br/>
																				Team BuzzArt
                                                                			</p>
                                                                			
                                                            			</td>
                                                                     </tr>
                                                                    
                                                                  </table>
                                                              </td>    
                                                        	  <td width="20">&#160;</td>             
                                            			</tr> 
                                            		</table>
                                                </td> 
                                             </tr>
                                             <tr>
                                            	<td width="600"  >
                                                	<table cellpadding="0" cellspacing="0" border="0"  bgcolor="#ccc" width="600">
                                                    	<tr>
                                                    		<td width="600" align="center" valign="center" height="80" style="color: #4c4545; font-family:Tahoma,Geneva, sans-serif;
                                                                                                                            font-size: 11px;">
                                                				<p>
                                                                	Dit is een Buzzart Update, je ontvangt deze mail omdat wij interessante ontwikkelingen zien in jouw campagne.<br/>
																	In je projectdashboard zie je deze gegevens terug en kun je zelf alle statistieken rondom je project bekijken.<br/>
																	<a href="{{ dashboard_url }}" alt="Bezoek hier je dashboard">Bezoek hier je dashboard</a>
                                                                </p> 
                                                            </td>
                                                    	</tr>
                                                    </table>
                                                </td>
                                            </tr>
                                    	</table>         
                                	</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
            	</table>
            </td>
    	</tr>
    </table>
</center>
</body>
</html>