{% extends "home.html" %}
{% block pagetitle %}
Projectanalyse {{ project.name }}
{% endblock %}

{% block intro %}
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-sign-in fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="traffic" class="huge"></div>
                        <div>Website traffic</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-check-square-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="nieuwsbrief" class="huge"></div>
                        <div>Nieuwsbrief aanmeldingen</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-group fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="inschrijvingen" class="huge"></div>
                        <div>Inschrijvingen</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block kpi4 %}
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-flask fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="kpi-verkoopstand">n.v.t.</div>
                        <div>Verkocht</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>
<script>
/**
 * Fill the 'huge' labels on top of the page with some relevant actual info:
 * total conversion count, visitors this week, total subscriber count
 */

 
/* 
$(function () {
  $.getJSON('/googleAnalytics/conversionsTotal/{{project_id}}?goalId=1', function(data) {
    $('#conversionCount').html(data['conversions'])
  });
});
*/
$(function () {
  $.getJSON('/googleAnalytics/traffic/{{project_id}}', function(data) {
    $('#traffic').html(data['traffic'])
  });
});
/*
$(function () {
  $.getJSON('/niki/availability/{{project_id}}', function(data) {
    verkocht = 0;
    total = 0;
    for(i=0; i< data.length; i++){
        console.log(data[i][0] + 'test');
        if(data[i][0] == 'verkocht'){
            verkocht = data[i][1]; 
        }
        total += data[i][1]
    }
    perc = Math.round(verkocht/(total / 100) );
    $('#kpi-verkoopstand').html(perc + " %");
    console.log(perc+" verkocht");
  });
});
*/
</script>
<!-- /.row -->
{% endblock %}

{% block belowmainplot %}
<div class="row">     
    <div class="col-lg-6 col-md-6">
        {% include "widgets/mc_list_stats.html" %}
    </div>
    <div class="col-lg-6 col-md-6">
        {% include "widgets/analytics-overview.html" %}
    </div>
</div>
{% endblock %}

{% block updates %} {% endblock %}