{% extends "home.html" %}
{% block pagetitle %}
Blauwhoed projectanalyse {{ project.name }}
{% endblock %}

{% block belowmainplot %}
<div class="row">     
    <div class="col-lg-3 col-md-3">
        {% include "widgets/niki-availability-pie-plot.html" with project_resource='/projects/28/BLHDGEN_CB3053FF-96EA-4A35-A029-D21603D2899B' title='Leeuwenveld' %}
    </div>
    <div class="col-lg-3 col-md-3">
        {% include "widgets/analytics-mobile-pie-plot.html" %}
    </div>
    <div class="col-lg-3 col-md-3">
        {% include "widgets/mc_list_stats.html" %}
    </div>
</div>
{% endblock %}

{% block updates %} {% endblock %}