<!doctype HTML>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!-- Bootstrap Core CSS -->
        {% load staticfiles %}
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <script src="{% static 'js/bootstrap.js' %}"></script>
    </head>
    <body>
    <table class="table">
        <tr>
            <th>Projectnaam</th>
            <th>Code</th>
        </tr>
    {% for project in projects %}
        <tr style="background-color:{{forloop.counter|divisibleby:2|yesno:'#eee,#fff'}}">
            <td>{{ project.name }}</td>
            <td>{{ project.link }}</td>
        </tr>
    {% endfor %}
    </table>
    </body>
</html>