<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a class="active" href="{% url 'dashboard.views.index' '1' %}?template=synchroon"><i class="fa fa-dashboard fa-fw"></i> Home</a>
            </li>
            <li>
                <a class="active" href="{% url 'dashboard.views.origin' '1' %}?template=synchroon"><i class="fa fa-dashboard fa-fw"></i> Webbezoek</a>
            </li>
            <li>
                <a class="active" href="{% url 'dashboard.views.profiles' '1' %}?template=synchroon"><i class="fa fa-dashboard fa-fw"></i> Profielen</a>
            </li>
            <li>
                <a class="active" href="{% url 'dashboard.views.adwords' '1' %}?template=synchroon"><i class="fa fa-dashboard fa-fw"></i> Campagnes</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

<script>
$('.input-group.date').datepicker({
});
</script>