<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a class="active" href="/dashboard/1?template=synchroon"><i class="fa fa-dashboard fa-fw"></i> Home</a>
            </li>
            <li>
                <a class="active" href="/dashboard/1/origin?template=synchroon"><i class="fa fa-dashboard fa-fw"></i> Webbezoek</a>
            </li>
            <li>
                <a class="active" href="/dashboard/1/profiles?template=synchroon"><i class="fa fa-dashboard fa-fw"></i> Profielen</a>
            </li>
            <li>
                <a class="active" href="/dashboard/1/campaigns?template=synchroon"><i class="fa fa-dashboard fa-fw"></i> Campagnes</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

<script>
$('.input-group.date').datepicker({
});
</script>