{% extends "synchroon/base.html" %}
{% load staticfiles %}
{% block pagetitle %}
Online campagneinformatie {{project.name}}
{% endblock %}
{% block intro %}
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="/dashboard/1/adwords?template=synchroon">Google Adwords</a></li>
          <li role="presentation"><a href="/dashboard/1/fbads?template=synchroon">Facebook Ads</a></li>
          <li role="presentation" class="active"><a href="/dashboard/1/mailing?template=synchroon">Mailings</a></li>
        </ul>
    </div>
</div>
{% endblock %}
{% block home %}
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Nieuwsbrief 1
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr><th colspan="2">Mailing stats overzicht</th></tr>
                    <tr><td>Verstuurd</td><td>53</td></tr>
                    <tr><td>Geopend</td><td>36</td></tr>
                    <tr><td>Kosten</td><td>&euro; 52,32</td></tr>
                    <tr><td>Klik ratio</td><td>5,619</td></tr>
                    <tr><td>CPC</td><td>&euro; 0,05</td></tr>
                    <tr><td>Conversies</td><td>3</td></tr>
                    <tr><td>Kosten per conversie</td><td>&euro; 17,84</td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
    </div>
</div>
{% endblock %}