{% extends "synchroon/base.html" %}
{% load staticfiles %}
{% block pagetitle %}
Online campagneinformatie {{project.name}}
{% endblock %}
{% block intro %}
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="/dashboard/1/adwords?template=synchroon">Google Adwords</a></li>
          <li role="presentation"><a href="/dashboard/1/fbads?template=synchroon">Facebook Ads</a></li>
          <li role="presentation" class="active"><a href="/dashboard/1/mailing?template=synchroon">Mailings</a></li>
        </ul>
    </div>
</div>
{% endblock %}
{% block home %}
<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
    </div>
</div>
{% endblock %}