{% extends "base.html" %}
{% block pagetitle %}
Analyse {{project.name}}
{% endblock %}
{% block home %}
{% include "intro.html" %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Projectanalyse project {{ project.name }}
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="container"></div>
            <!--</div>-->
            <!-- /.panel-body -->
            <!--<div class="panel-footer">-->
            <hr />

            <h4>{{ updates.0.title }}</h4>
            <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ updates.0.posted }}</small>
            <p>{{ updates.0.update }}</p>
            <!-- /.panel-footer -->
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-lg-8">
        {% include "timeline.html" %}
    </div>
    <div class="col-lg-4">
        {% include "social-stats.html" %}
        {% include "analytics-origin-pie-plot.html" %}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {% include "mc_list_stats.html" %}
    </div>
</div>

<script>

$(function () {
  $.getJSON('/dashboard/plotdata/{{ project_id }}', function(data) {
    $('#container').highcharts('StockChart', {
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Website bezoek t.o.v. inschrijvingen'
        },
        subtitle: {
            text: 'Vind de correlatie'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: [{
                labels: {
                    align: 'right',
                    x: -3
                },
                title: {
                    text: 'Traffic'
                },
                height: '60%',
                lineWidth: 2
            }, {
                labels: {
                    align: 'right',
                    x: -3
                },
                title: {
                    text: 'Conversies'
                },
                top: '65%',
                height: '35%',
                offset: 0,
                lineWidth: 2
            }],

        tooltip: {
        },
        navigator : {
            adaptToUpdatedData: false,
            series : {
                data : data[0].data
            }
        },
        series: [
        {
            name: 'Conversies',
            type: 'spline',
            yAxis: 1,
            data: data[1].data

        },
        {
            name: 'Website bezoek',
            type: 'spline',
            id: 'traffic',
            data: data[0].data
        },
       /* {
            name: 'Inschrijvingen',
            type: 'spline',
            yAxis: 2,
            data: data[3].data
        },*/
        {
            type: 'flags',
            data: data[2].data,
            onSeries: 'traffic',
            shape: 'circlepin'
        }
        ]
    });
  });
});

</script>
{% endblock %}