<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">

        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <form method="GET">
                <div class="input-group date">
                    <input type="text" data-date-format="dd/mm/yyyy" name="start" class="form-control" value="{{start}}"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
                <div class="input-group date">
                    <input type="text" data-date-format="dd/mm/yyyy" name="end" class="form-control" value="{{end}}"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
                <div class="input">
                    <input type="submit" value="submit" />
                </div>
                </form>
            </li>
            <li>
                <a class="active" href="/dashboard/{{ project.id }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a class="active" href="/dashboard/{{ project.id }}/updates"><i class="fa fa-dashboard fa-fw"></i> Advies</a>
            </li>
            <li>
                <a class="active" href="/dashboard/{{ project.id }}/origin"><i class="fa fa-dashboard fa-fw"></i> Herkomst</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<script>
$('.input-group.date').datepicker({
});
</script>
