{% extends "base/base.html" %}
{% block pagetitle %}
Herkomstanalyse {{project.name}}
{% endblock %}
{% block intro %}
{% endblock %}
{% block home %}
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Herkomstanalyse project {{ project.name }}
            </div>
            <div class="panel-body">
            <table class="table">
            <tr><th>Herkomst (url)</th><th>#</th></tr>
            {% for referral in referrals %}
            <tr>
                <td><a href="http://{{ referral.0 }}">{{ referral.0 }}</a></td>
                <td>{{ referral.1 }}</td>
            </tr>
            {% endfor %}
            </table>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        {% include "widgets/analytics-origin-pie-plot.html" %}
        {% include "widgets/analytics-mobile-pie-plot.html" %}
    </div>

</div>
{% endblock %}