{% extends "base/base.html" %}
{% block pagetitle %}
Advies / timeline {{project.name}}
{% endblock %}
{% block intro %}
{% endblock %}
{% block home %}
<div class="row">
    <div class="col-lg-12">
<!-- /.panel -->
<a name="timeline" ></a>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i>Buzzart advies overzicht
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="timeline">
            {% for update in updates %}
                {% if forloop.counter|divisibleby:2 %}
                <li>
                {% else %}
                <li class="timeline-inverted">
                {% endif %}
                    <div class="timeline-badge"><i class="fa {{ update.fa_class }}"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">                            
                            {% if request.user.is_staff %}    
                                <div class="pull-right">                        
                                {% if update.mail_sent %}
                                    <span class="label label-success">Mail sent</span>
                                {% else %}
                                    <span class="label label-warning">Mail not sent</span>
                                {% endif %}
                                <a href="/emailUpdate/{{update.id}}" class="button">send mail</a>
                                </div>
                            {% endif %}
                            <h4 class="timeline-title">{{ update.title }}</h4>
                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ update.posted }} </small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>{{ update.update }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
</div>
{% endblock home %}