<!DOCTYPE html>
<html>
    <head>
        <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            // Load the Visualization API and the piechart package.
            google.load('visualization', '1.0', {'packages':['corechart','gauge']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.setOnLoadCallback(drawChart);

            // Callback that creates and populates a data table,
            // instantiates the pie chart, passes in the data and
            // draws it.
            function drawChart() {

                var traffic_data = new google.visualization.DataTable();
                traffic_data.addColumn('string','Day');
                traffic_data.addColumn('number','Sessions');
                traffic_data.addColumn('number','Pageviews');
                {% for entry in traffic %}
                    traffic_data.addRows([
                        ['{{entry.0}}',{{entry.1}},{{entry.2}}]
                    ]);
                {% endfor %}
                var traffic_chart = new google.visualization.LineChart(document.getElementById('traffic_plot'));
                var traffic_options = {'title':'Traffic','width':800,'height':200};

                //traffic_chart.draw(traffic_data,traffic_options);

                // Wait for the chart to finish drawing before calling the getImageURI() method.
                chart_div = document.getElementById('traffic_plot');
                google.visualization.events.addListener(traffic_chart, 'ready', function () {
                    chart_div.innerHTML = '<img src="' + traffic_chart.getImageURI() + '">';
                    console.log(chart_div.innerHTML);
                });

                traffic_chart.draw(traffic_data,traffic_options);

                //Interest Gauge
                var data = google.visualization.arrayToDataTable([
                    ['Label', 'Value'],
                    ['Interesse', {{interest}}]
                ]);
                var options = {
                    width: 400, height: 200,
                    redFrom: 0, redTo: 1,
                    yellowFrom:1, yellowTo: 3,
                    greenFrom: 3, greenTo: 6,
                    minorTicks: 5, max: 6
                };
                var interest_chart = new google.visualization.Gauge(document.getElementById('interest_plot'));
                interest_chart.draw(data, options);

                //Conversion Gauge
                var data = google.visualization.arrayToDataTable([
                    ['Label', 'Value'],
                    ['Conversies', {{conversions}}]
                ]);
                var options = {
                    width: 400, height: 200,
                    redFrom: 0, redTo: 3,
                    yellowFrom:3, yellowTo: 10,
                    greenFrom: 20, greenTo: 30,
                    minorTicks: 5, max: 30
                };
                var chart = new google.visualization.Gauge(document.getElementById('conversion_plot'));
                chart.draw(data, options);


                //Plot a pie chart for availability

                var availdata = new google.visualization.DataTable();
                availdata.addColumn('string','Label');
                availdata.addColumn('number','Aantal');

                availdata.addRows([['Te koop',{{availability.0}}]]);
                availdata.addRows([['Optie',{{availability.1}}]]);
                availdata.addRows([['Verkocht',{{availability.2}}]]);



                var availoptions = {
                    width: 400, height: 300,
                    title: 'Verkoopstand',
                    //pieHole: 0.4,
                    slices: {
                        0: { color: 'green' },
                        1: { color: 'orange' },
                        2: { color: 'red'}
                    }
                };
                var availchart = new google.visualization.PieChart(document.getElementById('availability_plot'));
                availchart.draw(availdata, availoptions);

                var sexagedata = google.visualization.arrayToDataTable([
                    ['Leeftijd','Mannen','Vrouwen']
                    {% for item in fbagesexspread %}
                    ,['{{item.0}}',{{item.1.0}},{{item.1.1}}]
                    {% endfor %}
                ]);

                var options = {
                    title: 'Fanpage likes m/v en leeftijd',
                    colors: ['#5C3292', '#1A8763'],
                    width: 800, height: 400
                };
                var chart = new google.visualization.ColumnChart(document.getElementById('agesex_plot'));
                chart.draw(sexagedata, options);
            }
        </script>
        <!--                -->
        <script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script>
<script type="text/javascript" src="https://canvg.googlecode.com/svn-history/r157/trunk/canvg.js"></script>
<script>
  function getImgData(chartContainer) {
    var chartArea = chartContainer.getElementsByTagName('svg')[0].parentNode;
    var svg = chartArea.innerHTML;
    var doc = chartContainer.ownerDocument;
    var canvas = doc.createElement('canvas');
    canvas.setAttribute('width', chartArea.offsetWidth);
    canvas.setAttribute('height', chartArea.offsetHeight);

    canvas.setAttribute(
        'style',
        'position: absolute; ' +
        'top: ' + (-chartArea.offsetHeight * 2) + 'px;' +
        'left: ' + (-chartArea.offsetWidth * 2) + 'px;');
    doc.body.appendChild(canvas);
    canvg(canvas, svg);
    var imgData = canvas.toDataURL("image/png");
    canvas.parentNode.removeChild(canvas);
    return imgData;
  }

  function saveAsImg(chartContainer) {
    var imgData = getImgData(chartContainer);

    // Replacing the mime-type will force the browser to trigger a download
    // rather than displaying the image in the browser window.
    window.location = imgData.replace("image/png", "image/octet-stream");
  }

  function toImg(chartContainer, imgContainer) {
    var doc = chartContainer.ownerDocument;
    var img = doc.createElement('img');
    img.src = getImgData(chartContainer);

    while (imgContainer.firstChild) {
      imgContainer.removeChild(imgContainer.firstChild);
    }
    imgContainer.appendChild(img);
  }
</script>

    </head>
    <body>
        <!--Divs that will hold the charts-->
        <h1>Project: {{project.name}}, url: {{project.url}}</h1>
        <h2>Owner: {{project.manager}}, email: {{project.email}}</h2>
        <div id="traffic_plot" style="width: 400px; height: 200px;"></div>
        <div id="interest_plot" style="width: 400px; height: 200px;"></div>
        <div id="conversion_plot" style="width: 400px; height: 200px;"></div>
        <div id="availability_plot"></div>
        <div id="agesex_plot"></div>
        <h1>Conversieratio: {{conversionrate}}<small> (Vorige periode: {{previousconversionrate}})</small></h1>


        <div id="google_visualization_div"></div>

<button onclick="saveAsImg(document.getElementById('google_visualization_div'));">Save as PNG Image</button>
<button onclick="toImg(document.getElementById('interest_plot'), document.getElementById('img_div'));">Convert to image</button>
<hr>
<div id="img_div">
  Image will be placed here
</div>
    </body>
</html>

